@keyframes imgUpDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.not-available {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;



    img {
        width: 200px;
        animation: imgUpDown 1s linear infinite alternate;
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        color: var(--text);
    }

    a {
        margin-top: 1rem;
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: var(--accent);
        color: var(--white);
        border-radius: 2rem;
    }

    a:hover {
        opacity: .8;
    }
}