body {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    > input {
        padding: 1rem;
        width: 100%;
    }

    img {
        width: 50px;
        aspect-ratio: 1;
    }
}

.btns {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    input[type="submit"] {
        flex: 1;
        padding: 1rem;
        background-color: var(--accent);
        color: var(--white);
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        opacity: .9;
    }

    a {
        font-weight: var(--weight-md);
        text-decoration: none;
        color: var(--primary);
    }
}

.email-stat {
    color: rgb(221, 27, 27);
}